*{
    margin: 0;
    padding: 0;
}

#header-nav{
    background-color: #017DC7;
    font-size: 10px;
    height: 40px;
}

.bg-mycolor{
    background-color: #F3F3F3;
}


/* dopdown Menu */
#dropdwn ul{
    padding: 0;
    margin: 0;
}
#dropdwn ul li{
    background: #017DC7;
    position: relative;
    list-style: none;
    display: inline-block;
    z-index: 2;
}
#dropdwn ul li a{
    display: block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    line-height: 33px;
    font-size: 10px;
    font-weight: 500;
    border-left: 1px solid rgb(66, 65, 65);
}
#dropdwn ul li a:hover{
    background: #5e9ec3;
    color: #fff;
}
#dropdwn ul ul{
    position: absolute;
    top: 34px;
    display: none;
}
#dropdwn ul li:hover > ul{
    display: block;  
}
#dropdwn ul ul li{
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}
#dropdwn ul ul ul li{
    position: relative;
    top: -33px;
    left: 202px;
}


/* search */
#search-text{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 5px 10px;
    width: 137px;
    color: #017DC7;
    font-weight: 500;
    /* font-style: italic; */
}
::-webkit-input-placeholder{
    color: #017DC7;
    font-style: italic;
    font-weight: 500;
}
#search-btn{
    background-color: #fff;
    border: none;
    margin: -22px;
    padding: 5px 10px;
    border-radius: 15px;
}

/* icon flag */
#flag{
    margin: 19px;
    padding: 4px;
}
#flag .flag-en{
    margin: 3px;
}


/* Hộp tin */
.new-nav{
    /* height: 50px; */
    padding: 15px;
    font-size: 0.8rem;
    display: inline-block;
    text-decoration: none;
    color: black;
}
.new-nav-link{
    text-decoration: none;
    color: black; 
}
#new-box{
    height: 375px;
}
.new-nav marquee{
    height: 300px;
}

/* SlideShow */
#carouselExampleDark{
    height: 364px;
    margin-left: -10px;
    margin-top: -3px;
    padding: 5px;
}
/* slide-text */
.carousel-inner p{
    background-color:black;
    opacity: 0.68;
    width: 664px;
    height: 30px;
    margin-left: -99px;
    color: #fff;  
}

/* Main-1 */
#main-1{
    height: 40px;
}
#main-1 a{
    color: black;
    font-weight: bold;
    font-size: 13px;
}
/* Main-2 */
#main-2 img{
    width: 318px;
    height: 168px;
}

/* Title-1: LỊCH LÀM VIỆC */
#title-1{
    padding: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

/* Main Post */
.main-link-1{
    display: inline-block;
    text-decoration: none;

}

/* main-3 */
.main-link-2{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.main-3 li a:hover{
    text-decoration: underline blue solid;
}

/* Title-2: THƯ VIỆN ẢNH */
#title-2{
    padding: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

/* Main-4 */
#main-4{
    width: 320,0px;
    height: 195px;
    border-style: ridge;
    border-width: 2px;
}
#main-4 #carouselExampleFade{
    margin: 10px;
}

/* Main-5 */
#main-5{
    width: 320,0px;
    height: 411px;
    margin-top: 10px;
    border-style: ridge;
    border-width: 2px;
}
#main-5 a img{
    margin-left: 15px;
    padding: 8px;
}
#main-5 a img:hover{
    box-shadow: 5px 5px 5px rgb(191, 191, 154);
    border-radius: 10px;
}

/* Title-3: SẢN PHẨM */
#title-3{
    margin-top: 8px;
    padding: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

/* Main-6 */
#main-6{
    width: 320,0px;
    height: 104px;
    border-style: ridge;
    border-width: 2px;
}
#main-6 a img{
    margin-top: 8px;
    margin-left: 15px;
    padding: 5px;
}
#main-6 a img:hover{
    box-shadow: 5px 5px 5px rgb(191, 191, 154);
}

/* Cuối Trang */
#header-bottom{
    margin-top: 10px;
    background-color: #017DC7;
    height: 235px;
}

/* MENU Bottom */
#menu-bot ul{
    list-style: none;
    display: inline-flex;
    position: relative;
    padding: 0;
}
#menu-bot ul li a{
    display: block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    line-height: 33px;
    font-size: 14px;
    font-weight: 500;
    padding: 9px;
}
#menu-bot ul li a:hover{
    text-decoration: none;
    box-shadow: 3px 3px 3px rgb(182, 182, 168);
    color: #fff;
    text-decoration: underline #fff solid;
}

/* CONTACTs */
#menu-bot nav p{
    margin-top: -11px;
    margin-left: 10px;
    padding: 2px;
    color: #fff;
    font-weight: 800;

}
#menu-bot nav b p{
    font-weight: 400;
    font-size: 14px;
}

/* Kết Nối */
#connect ul{
    margin-top: 17px;
    margin-left: -15px;
}
#connect ul li{
    list-style: none;
    color: #fff;
    font-weight: 500;
}
#connect ul p{
    margin: 10px;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}
#connect ul li a{
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 350;
}
#connect ul li a:hover{
    color: orange;
    transition: all 0.4s;
    text-decoration: underline orange solid;
}

/* Liên Kết WEB */
#link-web{
    margin-top: 17px;
    margin-left: -15px;
}
#link-web p{
    color: #fff;
    font-weight: 800;
    font-size: 14px;
}
.dropdown-menu li a:hover{
    background: #017DC7;
    color: #fff;
    border-radius: 5px;
}
#link-web ul b p{
    list-style: none;
    font-weight: 350;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
}